* text=auto
*.sh text eol=lf
.gitattributes -diff
/chip_api/config/dev.exs -diff
/chip_api/config/test.exs -diff
/chip_api/Dockerfile -diff
/chip_app/scripts/start.js -diff
/chip_app/elm-package.json -diff
/chip_app/package.json -diff
/chip_app/Dockerfile -diff
/chip_api/startup.sh -diff